<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>股票行情系统</title>
  <link rel="stylesheet" href="../css/layui.css?v=1211232221"/>
  <link rel="stylesheet" href="../css/global.css?v=1212213321"/>
  <script src="../js/echarts.min.js"></script>
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<!-- header start -->
		<div class="layui-header">
			<div class="layui-main">
				<div class="layui-logo">Stocks</div>
				<ul class="layui-nav layui-layout-left">
					<li class="layui-nav-item"><a href="">资金</a></li>
					<li class="layui-nav-item"><a href="">新闻</a></li>
					<li class="layui-nav-item"><a href="">资产</a></li>
					<li class="layui-nav-item"><a href="javascript:;">个性中心</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="">邮件管理</a>
							</dd>
							<dd>
								<a href="">消息管理</a>
							</dd>
							<dd>
								<a href="">授权管理</a>
							</dd>
						</dl></li>
				</ul>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item"><a href="javascript:;"> <img
							src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
					</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="">基本资料</a>
							</dd>
							<dd>
								<a href="">安全设置</a>
							</dd>
						</dl></li>
					<li class="layui-nav-item"><a href="">退了</a></li>
				</ul>
			</div>
		</div>
		<!-- header end -->
		<!-- side start -->
		<div class="layui-side layui-side-menu" style="background-color: #c2c2c2">
			<div class="layui-side-scroll" >
				<ul id="sideBar" class="layui-nav layui-nav-tree" style="background-color: #c2c2c2">
				</ul>
			</div>
		</div>
		<!-- side end -->
		<!-- tab start -->
		<div class="layui-tab layui-tab-brief" lay-allowClose="true" lay-filter="demo">
			<ul class="layui-tab-title site-demo-title" style="margin-left: 15px">
				<li class="layui-this">首页</li>
			</ul>
			<!-- content start -->
			<div class="layui-body layui-tab-content site-demo site-demo-body">
				<!-- tab1 -->
				<div class="layui-tab-item layui-show">
					<div class="layui-main">
						<div class="layui-fluid">
							<fieldset class="layui-elem-field layui-field-title">
								<legend>快捷方式</legend>
							</fieldset>
							<div class="layui-carousel layadmin-carousel layadmin-shortcut"
								id="test2" style="margin-top: 15px;">
								<div carousel-item>
									<ul class="layui-row layui-col-space10">
										<li class="layui-col-xs3"><a
											lay-href="home/homepage1.html"> <i
												class="layui-icon layui-icon-console"></i> <cite>自选股</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="home/homepage2.html"> <i
												class="layui-icon layui-icon-chart"></i> <cite>大盘指数</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="component/layer/list.html"> <i
												class="layui-icon layui-icon-template-1"></i> <cite>涨跌排名</cite>
										</a></li>
										<li class="layui-col-xs3"><a layadmin-event="im"> <i
												class="layui-icon layui-icon-chat"></i> <cite>热门板块</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="component/progress/index.html"> <i
												class="layui-icon layui-icon-find-fill"></i> <cite>委托交易</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="app/workorder/list.html"> <i
												class="layui-icon layui-icon-survey"></i> <cite>我的资产</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="user/user/list.html"> <i
												class="layui-icon layui-icon-user"></i> <cite>决策</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="set/system/website.html"> <i
												class="layui-icon layui-icon-set"></i> <cite>基金理财</cite>
										</a></li>
									</ul>
									<ul class="layui-row layui-col-space10">
										<li class="layui-col-xs3"><a
											lay-href="set/user/info.html"> <i
												class="layui-icon layui-icon-set"></i> <cite>问财选股</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="set/user/info.html"> <i
												class="layui-icon layui-icon-set"></i> <cite>财富先锋</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="set/user/info.html"> <i
												class="layui-icon layui-icon-set"></i> <cite>模拟炒股</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="set/user/info.html"> <i
												class="layui-icon layui-icon-set"></i> <cite>股票开户</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="set/user/info.html"> <i
												class="layui-icon layui-icon-set"></i> <cite>港美联动</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="set/user/info.html"> <i
												class="layui-icon layui-icon-set"></i> <cite>K线训练</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="set/user/info.html"> <i
												class="layui-icon layui-icon-set"></i> <cite>保险服务</cite>
										</a></li>
										<li class="layui-col-xs3"><a
											lay-href="set/user/info.html"> <i
												class="layui-icon layui-icon-set"></i> <cite>投资服务</cite>
										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- tab1 -->
				<!-- tab2 -->
				<!-- <div class="layui-tab-item">
					<div class="layui-main">
						<div class="layui-fluid">
							<fieldset class="layui-elem-field layui-field-title">
								<legend>自定义板块</legend>
							</fieldset>
							<div class="layui-card">
								<div class="layui-card-header layuiadmin-card-header-auto">
									<button class="layui-btn layuiadmin-btn-tags" data-type="add">添加</button>
									<button class="layui-btn layuiadmin-btn-tags" data-type="edit">修改</button>
									<button class="layui-btn layuiadmin-btn-tags" data-type="del">删除</button>
								</div>
								<div class="layui-card-body">
									<table id="category" lay-filter="tabledemo"></table>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- tab2 -->
			</div>
			<!-- content end -->
		</div>
		<div class="layui-footer footer footer-demo">
		
		</div>

	</div>


	



	<!-- <div class="layui-layout layui-layout-admin">
		header start
	   <div class="layui-header header">
	    <div class="layui-logo">Stocks</div>
	    头部区域（可配合layui已有的水平导航）
	    <ul class="layui-nav layui-layout-left">
	      <li class="layui-nav-item"><a href="">资金</a></li>
	      <li class="layui-nav-item"><a href="">新闻</a></li>
	      <li class="layui-nav-item"><a href="">资产</a></li>
	      <li class="layui-nav-item">
	        <a href="javascript:;">个性中心</a>
	        <dl class="layui-nav-child">
	          <dd><a href="">邮件管理</a></dd>
	          <dd><a href="">消息管理</a></dd>
	          <dd><a href="">授权管理</a></dd>
	        </dl>
	      </li>
	    </ul>
	    <ul class="layui-nav layui-layout-right">
	      <li class="layui-nav-item">
	        <a href="javascript:;">
	          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
	          贤心
	        </a>
	        <dl class="layui-nav-child">
	          <dd><a href="">基本资料</a></dd>
	          <dd><a href="">安全设置</a></dd>
	        </dl>
	      </li>
	      <li class="layui-nav-item"><a href="">退了</a></li>
	    </ul>
	   </div>
	   header end
	</div>
	
	side start
	<div class="layui-side layui-bg-gray">
	    <div class="layui-side-scroll">
	      <ul id="sideBar" class="layui-nav layui-nav-tree site-demo-nav" style="background-color: #c2c2c2">
	      </ul>
	    </div>
	</div> -->
		<!-- side end -->



		<!-- main start -->
		<!-- <div class="site-inline">
   		side start
   		<div class="site-tree">
			<ul id="sideBar" class="layui-nav layui-nav-tree" style="background-color: #c2c2c2;">
			</ul>
   		</div>
   		side end
   		
   		content start
   		<div class="site-content layui-bg-green">
		    <div class="site-text">
		      <div class="layui-tab" lay-allowClose="true" style="margin: 30px 0;">
		        <ul class="layui-tab-title">
		          <li class="layui-this">首页</li>
		          <li>2</li>
		        </ul>
			    <div class="site-title">
			      <fieldset><legend><a name="default">首页</a></legend></fieldset>
			    </div> 
				<hr class="layui-bg-gray">
		        <div class="layui-tab-content">
		          <div class="layui-tab-item layui-show">
						
						
						
						
						
				  </div>
		          <div class="layui-tab-item">内容2</div>
		        </div>
		      </div>
		    </div>
   		</div>
   		content end
   		
   </div>
   main end
    -->









		<!-- <div class="layui-header layui-bg-cyan">
	    <div class="layui-logo">Stocks</div>
	    头部区域（可配合layui已有的水平导航）
	    <ul class="layui-nav layui-layout-left">
	      <li class="layui-nav-item"><a href="">资金</a></li>
	      <li class="layui-nav-item"><a href="">新闻</a></li>
	      <li class="layui-nav-item"><a href="">公告</a></li>
	      <li class="layui-nav-item"><a href="">资产</a></li>
	      <li class="layui-nav-item">
	        <a href="javascript:;">个性菜单</a>
	        <dl class="layui-nav-child">
	          <dd><a href="">自选股</a></dd>
	          <dd><a href="">自定义分组1</a></dd>
	        </dl>
	      </li>
	    </ul>
	    <ul class="layui-nav layui-layout-right">
	      <li class="layui-nav-item">
	        <a href="javascript:;">
	          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
	          贤心
	        </a>
	        <dl class="layui-nav-child">
	          <dd><a href="">基本资料</a></dd>
	          <dd><a href="">安全设置</a></dd>
	        </dl>
	      </li>
	      <li class="layui-nav-item"><a href="">退了</a></li>
	    </ul>
	  </div>
	  
	  <div class="layui-side" style="background-color: #c2c2c2"> 
	    <div class="layui-side-scroll">
	      <ul id="sideBar" class="layui-nav layui-nav-tree" style="background-color: #c2c2c2">
	      </ul>
	    </div>
	  </div>
	  
	  <div class="layui-body">
	  	<form>
		  	<div align="left" style="margin-left: 66px;padding-top: 5px;">
			  	<div class="layui-btn-group">
			  	  <button id="lookupbtn" lay-submit lay-filter="formDemo" class="layui-btn layui-btn-primary layui-btn-sm">
				    <i class="layui-icon">&#xe615;</i>
				  </button>
				  <button id="addbtn" lay-submit lay-filter="addDemo" class="layui-btn layui-btn-primary layui-btn-sm">
				    <i class="layui-icon">&#xe654;</i>
				  </button>
				  <button id="delbtn" lay-submit lay-filter="delDemo" class="layui-btn layui-btn-primary layui-btn-sm">
				    <i class="layui-icon">&#xe640;</i>
				  </button>
				</div>
				<div style="float:left;">
					<input class="layui-input-2" type="text" list="browsers" id="inputSearch">
					<datalist id="browsers"></datalist>
				</div>
		   </div> 
		 </form>
		
		
	    内容主体区域
	    <div style="padding: 0px 0px;">
	    	<div style="text-align: center;">
			  <div class="layui-inline">
			    <table id="tbl-list" lay-filter="test" class="layui-table"></table>
			   </div>
			</div>
	    </div>
	  </div>
	  
	  <div id="echarts-day"  class="layui-body-3">
		    内容主体区域
		    <div style="padding: 15px;"></div>
	  </div> -->
		
		<script src="../js/jquery.min1.3.5.js"></script>
		<script src="../js/layui.js"></script>
		<script src="../js/stocks/sidebar.js?version=2018022280"></script>
		<!-- <script src="../js/stocks/personal.js?version=20180802"></script> -->
		<script type="text/javascript">
			$(function(){
				layui.use('element', function(){
					var element = layui.element;
					$("[name=plateBuid]").click(function(){
						lay_id = $(this).attr("id");
						lay_title = $(this).children("cite").html();
						lay_url = $(this).data("url");
						element.tabAdd('demo', {
							  title: lay_title
							  ,content:'<iframe width="100%" height="100%" frameborder="0" scrolling="0" src="'+lay_url+'"></iframe>' //支持传入html
							  ,id: lay_id
							}); 
						element.tabChange('demo',lay_id);
					})
				});	
				layui.use(['carousel','layer'], function(){
					  var carousel = layui.carousel
					  ,form = layui.form;
					  //改变下时间间隔、动画类型、高度
					  carousel.render({
					    elem: '#test2'
					    ,interval: 6000
					    ,anim: 'hover'
					    ,height: '248px',
					    arrow:'none',
					    width:'90%'
					  });
					  
					  //其它示例
					  $('.demoTest .layui-btn').on('click', function(){
					    var othis = $(this), type = othis.data('type');
					    active[type] ? active[type].call(this, othis) : '';
					  });
					  
					  /* var table = layui.table;
					  //方法级渲染
					  table.render({
					    elem: '#category'
					    ,url: '/plate/getPlateList'
					    ,cellMinWidth: 80
					    ,cols: [[
					      {field:'buid',type:'checkbox',
					    	  templet:function(d){
					      	  },
					      }
					      ,{field:'plateName', title: '板块名称'}
					      ,{field:'plateDesc', title: '板块描述'}
					      ,{field:'plateNo', title: '板块编码'}
					      ,{field:'createDate', title: '创建时间',sort: true}
					    ]]
					    ,id: 'category'
					    ,page: true
					    ,height: 315
					  }); */
					  
					  /* active = {
							  del: function(){
								  var checkStatus = table.checkStatus('category');
								  if(checkStatus.data.length==0){
									  layer.msg("请先选择要删除的内容");
								  }else{
									  var buidList = new Array();
									  $.each(checkStatus.data,function(index,value){
								    		buidList.push(value.buid);
								    	});
									  layer.open({
							    		    title: '删除板块',
							    	        type: 1
							    	        ,offset: 'auto' //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
							    	        ,id: 'layerDemo'+'auto' //防止重复弹出
							    	        ,content: '<div class="layui-form" lay-filter="layuiadmin-form-tags" id="layuiadmin-app-form-tags" style="padding-top: 30px; text-align: center;"><div class="layui-form-item">是否确认删除？</div></div>'
							    	        ,btn: ['确认','取消']
								    	 	 ,yes: function(index, layero){
								    		    //按钮【按钮一】的回调
								    		    $.ajax({
								    		    	url:'/plate/delPlate',
								    		    	data:{
								    		    		"buidList":buidList
										    		},
								    		    	async:false,
								    		    	traditional: true,
								    				success:function(data){
								    					if(data){
									    					table.reload('category');
									    					layer.msg("删除成功");
								    					}else{
									    					layer.msg("删除失败");
								    					}
								    				}
								    		    });
								    		    layer.closeAll();
								    		  }
								    		  ,btn2: function(index, layero){
								    		    //按钮【按钮二】的回调
								    		    layer.closeAll();
								    		    //return false 开启该代码可禁止点击该按钮关闭
								    		  }
							    	        ,btnAlign: 'c' //按钮居中
							    	        ,shade: 0.8 //不显示遮罩
							    	        ,success:function(layero, index){
							    	        }
							    	      });  
								  }
						      }
							  ,edit: function(){
								  var checkStatus = table.checkStatus('category');
								  if(checkStatus.data.length==0){
									  layer.msg("请先选择要修改的内容");
								  }else if(checkStatus.data.length>1){
									  layer.msg("请选择一行进行修改");
								  }else{
									  console.log(checkStatus.data);
									  var plate_buid = checkStatus.data[0].buid;
									  var plate_name = checkStatus.data[0].plateName;
									  var plate_desc = checkStatus.data[0].plateDesc;
									  var plate_no = checkStatus.data[0].plateNo;
									  layer.open({
							    		    title: '修改板块',
							    	        type: 1
							    	        ,offset: 'auto' //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
							    	        ,id: 'layerDemo'+'auto' //防止重复弹出
							    	        ,content: '<div class="layui-form" lay-filter="layuiadmin-form-tags" id="layuiadmin-app-form-tags" style="padding-top: 30px; text-align: center;"><div class="layui-form-item"><label class="layui-form-label">分类名</label><div class="layui-input-inline"><input id="plateName" type="text" name="tags" lay-verify="required" placeholder="请输入..." autocomplete="off" class="layui-input"></div></div><div class="layui-form-item"><label class="layui-form-label">分类描述</label><div class="layui-input-inline"><input id="plateDesc" type="text" name="tags" lay-verify="required" placeholder="请输入..." autocomplete="off" class="layui-input"></div></div><div class="layui-form-item"><label class="layui-form-label">编号</label><div class="layui-input-inline"><input id="plateNo" type="text" name="tags" lay-verify="required" placeholder="请输入..." autocomplete="off" class="layui-input"></div></div></div>'
							    	        ,btn: ['确认','取消']
								    	 	 ,yes: function(index, layero){
								    		    //按钮【按钮一】的回调
								    		    var plateName =  $("#plateName").val();
								    		    var plateDesc = $("#plateDesc").val();
								    		    var plateNo = $("#plateNo").val();
								    		    $.ajax({
								    		    	url:'/plate/editPlate',
								    		    	method:'post',
								    		    	data:{
								    		    		"buid":plate_buid,
										    			"plateName":plateName,
										    			"plateDesc":plateDesc,
										    			"plateNo":plateNo
										    		},
								    		    	async:false,
								    				success:function(data){
								    					if(data){
									    					table.reload('category');
									    					layer.msg("修改成功");
								    					}else{
									    					layer.msg("修改失败");
								    					}
								    				}
								    		    });
								    		    layer.closeAll();
								    		  }
								    		  ,btn2: function(index, layero){
								    		    //按钮【按钮二】的回调
								    		    layer.closeAll();
								    		    //return false 开启该代码可禁止点击该按钮关闭
								    		  }
							    	        ,btnAlign: 'c' //按钮居中
							    	        ,shade: 0.8 //不显示遮罩
							    	        ,success:function(layero, index){
							    	        	$("#plateName").val(plate_name);
								    		    $("#plateDesc").val(plate_desc);
								    		    $("#plateNo").val(plate_no);
							    	        }
							    	      });  
								  }
						      },
						      add: function(){
						    	  layer.open({
						    	        type: 1,
						    	        title: '添加板块'
						    	        ,offset: 'auto' //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
						    	        ,id: 'layerDemo'+'auto' //防止重复弹出
						    	        ,content: '<div class="layui-form" lay-filter="layuiadmin-form-tags" id="layuiadmin-app-form-tags" style="padding-top: 30px; text-align: center;"><div class="layui-form-item"><label class="layui-form-label">分类名</label><div class="layui-input-inline"><input id="plateName" type="text" name="tags" lay-verify="required" placeholder="请输入..." autocomplete="off" class="layui-input"></div></div><div class="layui-form-item"><label class="layui-form-label">分类描述</label><div class="layui-input-inline"><input id="plateDesc" type="text" name="tags" lay-verify="required" placeholder="请输入..." autocomplete="off" class="layui-input"></div></div><div class="layui-form-item"><label class="layui-form-label">编号</label><div class="layui-input-inline"><input id="plateNo" type="text" name="tags" lay-verify="required" placeholder="请输入..." autocomplete="off" class="layui-input"></div></div></div>'
						    	        ,btn: ['确认','取消']
							    	 	 ,yes: function(index, layero){
							    		    //按钮【按钮一】的回调
							    		    var plateName =  $("#plateName").val();
							    		    var plateDesc = $("#plateDesc").val();
							    		    var plateNo = $("#plateNo").val();
							    		    $.ajax({
							    		    	url:'/plate/addPlate',
							    		    	method:'post',
							    		    	data:{
									    			"plateName":plateName,
									    			"plateDesc":plateDesc,
									    			"plateNo":plateNo
									    		},
							    		    	async:false,
							    				success:function(data){
							    					if(data){
								    					table.reload('category');
								    					layer.msg("添加成功");
							    					}else{
								    					layer.msg("添加失败");
							    					}
							    				}
							    		    });
							    		    layer.closeAll();
							    		  }
							    		  ,btn2: function(index, layero){
							    		    //按钮【按钮二】的回调
							    		    layer.closeAll();
							    		    //return false 开启该代码可禁止点击该按钮关闭
							    		  }
						    	        ,btnAlign: 'c' //按钮居中
						    	        ,shade: 0.8 //不显示遮罩
						    	      });  
						      }
						    } */  

					  $('.layui-btn.layuiadmin-btn-tags').on('click', function(){
					      var type = $(this).data('type');
					      active[type] ? active[type].call(this) : '';
					    });

				}); 
			});
	</script>
</body>
</html>