<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>注册股票行情系统</title>
    <link rel="stylesheet" href="../css/layui.css?version=20180731">
</head>
	<body>
		<div class="layui-layout layui-layout-admin">
<!-- header begin -->
		  <div class="layui-header">
		    	<div class="layui-logo">Stocks</div>
			    <!-- 头部区域（可配合layui已有的水平导航） -->
			    <ul class="layui-nav layui-layout-left">
			      <li class="layui-nav-item"><a href="">控制台</a></li>
			      <li class="layui-nav-item"><a href="">商品管理</a></li>
			      <li class="layui-nav-item"><a href="">用户</a></li>
			      <li class="layui-nav-item">
			        <a href="javascript:;">其它系统</a>
			        <dl class="layui-nav-child">
			          <dd><a href="">邮件管理</a></dd>
			          <dd><a href="">消息管理</a></dd>
			          <dd><a href="">授权管理</a></dd>
			        </dl>
			      </li>
			    </ul>
			    <ul class="layui-nav layui-layout-right">
			      <li class="layui-nav-item">
			        <a href="javascript:;">
			          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
			          贤心
			        </a>
			        <dl class="layui-nav-child">
			          <dd><a href="">基本资料</a></dd>
			          <dd><a href="">安全设置</a></dd>
			        </dl>
			      </li>
			      <li class="layui-nav-item"><a href="">退了</a></li>
			    </ul>
		  </div>
<!-- header end -->
  
<!-- main begin -->	  
	  <div class="layui-body-4 layui-form-pane ">
	  		<div class="layui-tab layui-tab-brief">
	  			<ul class="layui-tab-title">
	  				<li><a href="login.html">登录</a></li>
	  				<li class="layui-this">注册</li>
	  			</ul>
	  		</div>
	  		<form class="layui-form" action="" method="post"> 
	  			<div class="layui-form-item"> 
	  				<label for="L_email" class="layui-form-label">手机</label> 
	  					<div class="layui-input-inline"> 
	  						<input type="text" id="L_phone" name="userMobileNo" required lay-verify="required"  autocomplete="off"  class="layui-input"> 
	  					</div> 
	  					<div id="msg" class="layui-form-mid layui-word-aux">请使用手机号码进行注册</div>
	  			</div> 
	  			<div class="layui-form-item"> 
	  				<label for="L_username" class="layui-form-label">昵称</label> 
	  					<div class="layui-input-inline"> 
	  						<input type="text" id="L_nickname" name="userNickName" required lay-verify="required" autocomplete="off" class="layui-input"> 
	  					</div> 
	  					<div id="msg_2" class="layui-form-mid layui-word-aux">你在社区的名字 </div> 
	  			</div> 
	  			<div class="layui-form-item"> 
	  				<label for="L_pass" class="layui-form-label">密码</label> 
					<div class="layui-input-inline"> 
						<input type="password" id="L_pass" name="pass" required lay-verify="required" autocomplete="off" class="layui-input"> 
					</div> 
	  				<div id="msg_3" class="layui-form-mid layui-word-aux">6到16个字符</div> 
	  			</div> 
	  			<div class="layui-form-item"> <label for="L_repass" class="layui-form-label">确认密码</label> 
		  			<div class="layui-input-inline"> 
		  				<input type="password" id="L_repass" name="userPwd" required lay-verify="required" autocomplete="off" class="layui-input"> 
		  			</div> 
		  			<div id="msg_4" class="layui-form-mid layui-word-aux"></div> 
	  			</div> 
	  			<div class="layui-form-item"> 
	  				<label for="L_vercode" class="layui-form-label">验证码</label> 
	  					<div class="layui-input-inline"> 
	  						<input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请输入手机验证码" autocomplete="off" class="layui-input"> 
	  					</div> 
						<div class="layui-form-mid" style="padding: 0!important;"> 
							<button type="button" class="layui-btn layui-btn-normal" id="FLY-getvercode">获取验证码</button> 
						</div> 
	  			</div> 
	  			<div class="layui-form-item" style="position: relative; left: -10px; height: 32px;"> 
	  				<input type="checkbox" name="agreement" lay-skin="primary" title="" checked> 
	  					<a href="/instructions/terms.html" target="_blank" style="position: relative; top: 4px; left: 5px; color: #999;">同意用户服务条款</a>
	  			</div> 
	  			<div class="layui-form-item"> <button class="layui-btn" lay-filter="formDemo" lay-submit>立即注册</button> </div> 
	  			<div class="layui-form-item fly-form-app"> <span>或者直接使用社交账号快捷注册</span> 
	  				<a href="/app/qq" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a> 
	  				<a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a> 
	  			</div> 
	  		</form>
	  </div>
<!-- main end -->
	  <div class="layui-footer-2">
			Stocks社区
	  </div>
	</div>



	<script src="../js/jquery.min1.3.5.js"></script>
	<script src="../js/layui.js"></script>
<script>
	//JavaScript代码区域
	//$(function(){
		layui.use('element', function(){
			  var element = layui.element;
		});
		//var testMobileNo = false;
		//var testNickName = false;
		//var testPwd = false;
		//var testRepwd = false;
		function verify_phone(){
			var userMobileNo = $("#L_phone").val();
			if(/^(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$/.test(userMobileNo)){
				var isSuccess = false;
				$.ajax({
					url:"user/isExistsMobileNo/"+userMobileNo,
					async:false,
					success:function(data){
			    		if(data){
			    			//$("#msg").html("手机号码已存在").removeClass("layui-word-aux").css("color","red");
			    			layer.msg("手机号码已存在");
			    			isSuccess = false;
			    		}else{
			    			//$("#msg").html("验证通过").removeClass("layui-word-aux").css("color","green");
			    			//layer.msg("手机号码已存在");
			    			isSuccess = true;
			    		}
			    	}
				});
				return isSuccess;
			}else{
				//$("#msg").html("您输入的手机号码无效").removeClass("layui-word-aux").css("color","red");
				layer.msg("您输入的手机号码无效");
				return false;
			}
		};
		
		/* $("#L_phone").blur(function(){
			var userMobileNo = $(this).val();
			//$("#msg").html("");
			if(/^(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$/.test(userMobileNo)){
				$.ajax({
					url:"user/isExistsMobileNo/"+userMobileNo,
					async:false,
					success:function(data){
			    		if(data){
			    			//$("#msg").html("手机号码已存在").removeClass("layui-word-aux").css("color","red");
			    			layer.msg("手机号码已存在");
			    			testMobileNo = false;
			    		}else{
			    			//$("#msg").html("验证通过").removeClass("layui-word-aux").css("color","green");
			    			//layer.msg("手机号码已存在");
			    			testMobileNo = true;
			    		}
			    	}
				});
			}else{
				//$("#msg").html("您输入的手机号码无效").removeClass("layui-word-aux").css("color","red");
				layer.msg("您输入的手机号码无效");
				testMobileNo = false;
			}
		}); */
		
		function verify_nickname(){
			var userNickName = $("#L_nickname").val();
			if(/^([\u4E00-\u9FA5]|[0-9]|[A-Z]|[a-z]){2,8}$/.test(userNickName)){
				var isSuccess = false;
				$.ajax({
					url:"user/isExistsNickName/"+userNickName,
					async:false,
					success:function(data){
			    		if(data){
			    			//$("#msg_2").html("该昵称已存在").removeClass("layui-word-aux").css("color","red");
			    			layer.msg("该昵称已存在");
			    			isSuccess = false;
			    		}else{
			    			//$("#msg_2").html("验证通过").removeClass("layui-word-aux").css("color","green");
			    			isSuccess = true;
			    		}
			    	}
				});
				return isSuccess;
			}else{
				//$("#msg_2").html("您输入的昵称无效").removeClass("layui-word-aux").css("color","red");
				layer.msg("您输入的昵称无效");
				return false;
			}
		}
		
		/* $("#L_nickname").blur(function(){
			var userNickName = $(this).val();
			//$("#msg_2").html("");
			if(/^([\u4E00-\u9FA5]|[0-9]|[A-Z]|[a-z]){2,8}$/.test(userNickName)){
				$.ajax({
					url:"user/isExistsNickName/"+userNickName,
					async:false,
					success:function(data){
			    		if(data){
			    			//$("#msg_2").html("该昵称已存在").removeClass("layui-word-aux").css("color","red");
			    			layer.msg("该昵称已存在");
			    			testNickName = false;
			    		}else{
			    			//$("#msg_2").html("验证通过").removeClass("layui-word-aux").css("color","green");
			    			testNickName = true;
			    		}
			    	}
				});
			}else{
				//$("#msg_2").html("您输入的昵称无效").removeClass("layui-word-aux").css("color","red");
				layer.msg("您输入的昵称无效");
				testNickName = false;
			}
		}); */
		
		function verify_pass(){
			var userPwd = $("#L_pass").val();
			if(/^[a-zA-Z0-9]{6,16}$/.test(userPwd)){
				return true;
			}else{
				//$("#msg_3").html("密码必须6-16个字符").removeClass("layui-word-aux").css("color","red");
				layer.msg("密码必须6-16个字符");
				return false;
			}
		}
		/* $("#L_pass").blur(function(){
			var userPwd = $(this).val();
			//$("#msg_3").html("");
			if(/^[a-zA-Z0-9]{6,16}$/.test(userPwd)){
				testPwd = true;
			}else{
				//$("#msg_3").html("密码必须6-16个字符").removeClass("layui-word-aux").css("color","red");
				layer.msg("密码必须6-16个字符");
				testPwd = false;
			}
		}); */
		
		function verify_repass(){
			var useRepwd = $("#L_repass").val();
			var userPwd = $("#L_pass").val();
			if(userPwd === useRepwd){
				return true;
			}else{
				//$("#msg_4").html("两次密码并不一致").removeClass("layui-word-aux").css("color","red");
				layer.msg("两次密码并不一致");
				return false;
			}
		}
		
		/* $("#L_repass").blur(function(){
			var userPwd = $("#L_pass").val();
			var useRepwd = $(this).val();
			//$("#msg_4").html("");
			if(userPwd === useRepwd){
				testRepwd = true;
			}else{
				//$("#msg_4").html("两次密码并不一致").removeClass("layui-word-aux").css("color","red");
				layer.msg("两次密码并不一致");
				testRepwd = false;
			}
		}); */
		layui.use('form', function(){
			  var form = layui.form;
			  //监听提交
			  form.on('submit(formDemo)', function(data){
				    if(verify_phone()&verify_nickname()&verify_pass()&verify_repass()){
				    	$.ajax({
					    	url:"user/register",
					    	method:"post",
					    	async:false,
					    	data:"userMobileNo="+data.field.userMobileNo+"&userPwd="+data.field.userPwd+"&userNickName="+data.field.userNickName,
					    	success:function(data){
					    		console.log(data);
					    		if(data){
					    			layer.msg("注册成功,页面即将跳转至首页!");
					    			setTimeout(function(){window.location = "market.html"}, 3000);
					    		}else{
					    			layer.msg("注册失败,请稍后重试!");
					    		}
					    	}
					    });
				    }
				    return false;
			  });
	    });	
	//})
	
	
</script>
</body>
</html>