<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stocks.dao.StockSecDao">
	
	<insert id="addStockSec">
		insert into base_stock_detail_sec values(#{buid},#{detailTime},#{detailDate},#{currentPrice},#{changePrice},#{dealCount},#{dealAmount},current_timestamp,#{createBy},current_timestamp,#{updateBy})
	</insert>
</mapper>